<!DOCTYPE html>
<html>
<head>
    <script src="@Url.Content("~/Scripts/Functional/User.js?"+Variable.Version)"></script>
    <script src="@Url.Content("~/Scripts/Functional/HttpHandle.js?"+Variable.Version)"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 知識管理系統</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/kendo")
    @Scripts.Render("~/bundles/modernizr")
    @using WebApp1.Models;
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>
                    @{
                        UserData userData = (UserData)ViewData["userData"];
                        if (userData == null || userData.Id == null)
                        {
                            <li>@Html.ActionLink("登入", "Index", "Login")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("登出", "LoginOut", "Login")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 知識管理系統 - Version:@Variable.Version</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
</body>
</html>
